body{
    background-image: url(resim.jpg);
}
#divone {
    background-image: url(resim3.jpg);
    color: black;
    margin-bottom: 10px;
    text-align: center;
}
.nav-item{
   width: 190px;
}
.nav-item a{
     color: wheat;
    font-family: cursive;
     transition-duration: 0.4s;
}
.nav-item a:hover{
    background-color: crimson;
    color: antiquewhite;
}
a{
    color: crimson;
    text-decoration-line: none;
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    padding: 1px;
}